<header class="header-2">

    <!-- branding -->
    <div class="branding">
        <img src="assets/images/logo-hor.png" class="branding-logo" (click)="gotoHome()">
    </div>

    <!-- search -->
    <favo-git-search-bar></favo-git-search-bar>

    <div class="header-actions">

        <!-- language -->
        <div class="mr40">
            <favo-git-lang-switch></favo-git-lang-switch>
        </div>


        <!-- favourites -->
        <div class="favs-wrapper">
            <favo-git-favourites-badge></favo-git-favourites-badge>
        </div>
    </div>

</header>

